<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team2.movie.Mapper.MovieMapper">

<!-- 맨위 추천 영화 -->
	<selcet id="getMovieList" resultType="com.team2.movie.vo.MovieVo">
		
		selcet md_num, mi_title, mi_thumbnail,num 
		from md_num,mi_title , mi_thumbnail, rwnum as num 
		from md_num, mi_title, mi_thumbnail 
		from daum_movie
	
		where num between #{start} and #{end}
		
		 
	</selcet>

<!-- 중간 랭크 리스트-->

	<selcet id="getRankList" resultType="com.team2.movie.vo.MovieVo">
	
<!-- 		selcet ceil(count(*)/12.0) from daum_movie -->

<!-- 		selcet md_num, mi_title, mi_thumbnail, rownum -->
<!-- 		from selcet md_num, mi_title, mi_thumbnail -->
<!-- 		from daum_movie -->
<!-- 		order by mi_ranklist desc -->
<!-- 		where rownum < =5 -->

		selcet ceil(count(*)/12.0) from daum_movie
		
		select * from movie_details details
		
		full outer join movie_info info on details.mi_num = info.mi_num
		
		full outer join movie_info info on details.mi_num = info.mi_num		
		
 		where info.mi_condition = 1
 		
 		order by info.mi_total_point desc 
 		

	</selcet>
	
	<!-- 끝 로그인 추천 -->
	
	<selcet id="getRecommendList" resultType="com.team2.movie.vo.MovieVo">
	
<!-- 		selcet ceil(count(*)/12.0) from daum_movie -->

<!-- 		selcet md_num, mi_title, mi_thumbnail,rownum  -->
<!-- 		from select md_num, mi_title, mi_thumbnail  -->
<!-- 		from daum_movie  -->
<!-- 		order by mi_recommendlist desc  로그인 추천시 추천 으로 변경 -->
<!-- 		where rownum <=5	 -->
		 

		selcet ceil(count(*)/12.0) from movie
		 
		select * from movie_details details
		
		full outer join movie_info info on details.mi_num = info.mi_num
		
		full outer join movie_genre genre on info.g_num = genre.g_num
		
		where genre.g_num = #{g_num}
		
		order by info.mi_total_point desc		 
	
	</selcet>

	<select id="getTotal" resultType="int">
		select count(*) from test_movie_info
		<if test="keyword != null">
			where mi_title like '%'||#{keyword}||'%'
		</if>
	</select>
	
	<!-- <select id="getMemberList" resultType="com.team1.dto.MemberVo">
		select * from test_member
	</select> -->

	<insert id="insertMovieInfo" parameterType="com.team1.dto.MovieVo">
	<![CDATA[
		insert into test_movie_info(mi_num, g_num, mi_title, mi_condition, mi_thumbnail)
			   values(test_seq_movie.nextval, #{g_num}, #{mi_title}, #{mi_condition}, #{originFileName})
	]]>
	</insert>
		
	<insert id="insertMovieDetails" parameterType="com.team1.dto.MovieVo">
		insert into test_movie_details(md_num, mi_num, g_num, md_director, md_actor, md_text, md_runtime, md_grade)
			   values(test_seq.nextval, test_seq_movie.currval, #{g_num}, #{md_director}, #{md_actor}, #{md_text}, #{md_runtime}, #{md_grade})
	</insert>
</mapper>	
